@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700;900&display=swap');
:root{
    --primary : #39289f;
    --secondary : #fa9021;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: var(--primary);
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: .5em 0;
    background-color: #ffffff2a;
    backdrop-filter: blur(200px);
    width: 100%;
}

h5{
    color: white;
    font-size: 22px;
}

h4{
    color: var(--secondary);
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 80px;
}

h2{
    color: white;
    font-size: 31px;
}
p{
    color: white;
    font-family: 'Poppins', sans-serif;
    /* font-weight: bolder; */
}

input:focus{
    outline: none;
}

.logo{
    height: 5em;
    width: 20em;
}
.tab{
    margin: 0 2em;
}

nav button{
    background-color: var(--secondary);
    border: 0;
    padding: 1em 1.5em;
    color: white;
    border-radius: .5em;
    cursor: pointer;
}

.button1{
    width: 30%;
    background-color: var(--secondary);
    border: 0;
    padding: 1em 1.5em;
    color: white;
    border-radius: 5em;
    cursor: pointer;
    margin-top: 3em;
    font-size: 1rem;
    font-weight: 600;
}

.definition{
    margin: 10rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subdef{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    text-align: left;
}

/* trending */

.trendighead{
    display: flex;
    justify-content: space-around;
}

.transbutton{
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, .1);
    border: 0;
    padding: 1rem 2rem;
    border-radius: .5em;
    cursor: pointer;
}
.myspan{
    display: flex; 
    align-items: center;
    margin-top: 2rem;
    width: 70%;
    justify-content: space-around;
}
.trendpictures{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 4rem 0; */
}

/* cover */

.cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
}

.cover article{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.cover img{
    margin: 2rem 0;
    height: 40rem;
    width: 100rem;
}

/* service scetion in home page */
.service{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service h2{
    width: 40%;
    text-align: center;
    margin: 2rem 0;
}

.service p {
    text-align: center;
}

.serv-ico{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 3rem;
}
.serv-ico .img1{
    margin-bottom: 1rem;
    height: 4rem;
    width: 4rem;
}
.serv-ico .img2{
    cursor: pointer;
    margin-top: 1rem;
    height: 2rem;
    width: 2rem;
}

.serv-icons{
    margin: 3rem 0;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* recent project */

.recentproject{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recentproject h2{
    width: 40%;
    text-align: center;
    margin: 2rem 0;
}

.recentproject p {
    text-align: center;
}

.gallery{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 0 0 2rem;
}

.gallery img{
    margin: 1% 1rem;
}

/* subscription */
.subscription{
    margin: 0 10rem;
}

.subscription p{
    margin-top: 4rem;
}

span{
    color: #fff;
}

.subscriptionform{
    margin: 2rem 6rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 3rem 5rem;
    border-radius: 1rem;
    align-items: center;
}

.subscription input{
    padding: 1rem 1rem;
    padding-right: 50px;
    border-radius: .5rem;
}

.subscription button{
    margin-left: -6.5rem;
    background-color: var(--secondary);
    border: 0;
    padding: 1em 1.5em;
    color: white;
    border-radius: .5em;
    cursor: pointer;
}